.label {
  font-size: 13px;
  line-height: 1.23;
  color: rgba(17, 17, 17, 0.48);
  position: relative;
  /* margin-right: 18px; */
}

.input {
  /* margin-right: 18px; */
  /* position: relative; */
  /* width: 616px; */
  height: 56px;
  padding: 16px;

  border: 1px solid #f1f1f1;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.71;
  color: #111111;
}

.labelText {
  position: absolute;
  top: 8px;
  left: 16px;
}
