.form {
  width: 616px;
}
.ParentInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.Button {
  font-size: 14px;
  line-height: 1.71;
  background-color: #ffffff;
  color: #01a7fd;
  display: block;
  margin-left: auto;
}
.parentInput {
  width: 616px;
  margin-bottom: 10px;
}

.childInput {
  width: 260px;
  margin-right: 18px;
}

.removeBtn {
  background-color: #ffffff;
  color: #01a7fd;
  border: none;
  font-size: 14px;
  line-height: 1.71;
  padding: 0;
}

.saveBtn {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}
